body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

#current-image-container {
    text-align: center;
    margin-bottom: 20px;
    background-color: black;
    margin-bottom: 20px;  /* Set background color to black */
    color: white;              /* Set text color to white */
    padding: 20px;             /* Add some padding to the section */
    border-radius: 10px; 
}

#current-image-container img {
    max-width: 100%;
    height: auto;
}

#search-history {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#search-history li {
    background-color: #ddd;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
